      </div>
      <footer class="panel panel--dark-yellow">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <nav>
                <ul>
                  <li>
                    <a class="" href="index.html">Home</a>
                  </li>
                  <li>
                    <a class="" href="menu.html">Menu</a>
                  </li>
                  <li>
                    <a class="" href="parties.html">Parties</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-xs-12 col-sm-6">
              <nav>
                <ul>
                  <li>
                    <a class="" href="find-us.html">Find us in Reading - Wokingham</a><br>
                  </li>
                  <li>
                    <a class="" href="tel:{{contacts.phone.value}}">Phone: {{contacts.phone.label}}</a><br>
                  </li>
                  <li>
                    <a class="" href="mailto:{{contacts.email.value}}">Email: {{contacts.email.label}}</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-xs-12 col-sm-3 text-center text-padding">
              <a class="vertical-center" href="https://www.facebook.com/{{contacts.facebook_id}}"><img alt="facebook" title="facebook" width="32" height="32" src="img/facebook.svg"/></a>
              <span class="vertical-center fb-follow" data-href="https://www.facebook.com/{{contacts.facebook_id}}" data-layout="button" data-size="large" data-show-faces="true"></span>
            </div>
          </div>
          <div class="row anim__row">
            <a href="index.html">
              <div class="col-xs-12 text-center text-padding">
                <div class="anim__logo">
                  <img width="300" height="75" src="../img/logo.svg" />
                </div>
                <div class="anim__cloudgroup">
                  <div class="anim__cloud1">
                    <img width="128" height="72" src="../img/cloud.svg" />
                  </div>
                  <div class="anim__cloud2">
                    <img width="128" height="72" src="../img/cloud.svg" />
                  </div>
                </div>
                <div class="anim__vanwrapper">
                  <img class="anim__van" width="128" height="72" src="../img/van.svg" />
                </div>
              </div>
            </a>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <nav class="small-nav">
                <ul>
                  <li>
                    <a class="" href="disclaimer.html">Disclaimer</a>
                  </li>
                  <li>
                    <a class="" href="terms-and-conditions.html">Terms and conditions</a>
                  </li>
                  <li>
                    <a class="" href="privacy.html">Privacy</a>
                  </li>
                  <li>
                    &copy; theitalianfoodtruck.co.uk.All rights reserved
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create',{{google_analytics}},'auto');ga('send','pageview');
      </script>
    </body>
</html>
